<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyandroid.ialarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".IAlarmActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".timer.SelectSoundActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worldtime.SelectCityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.IAlarmAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.IAlarmAddPickDays"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.IAlarmAddPickSound"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.IAlarmAddPickTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.IAlarmOnActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/iPhone_dialogbg" />

        <service
            android:name=".alarm.IAlarmService"
            android:label="@string/app_name" />
        <service
            android:name=".alarm.IAlarmSleepService"
            android:label="@string/app_name" />

        <activity
            android:name=".timer.TimerOnActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/iPhone_dialogbg" />

        <receiver
            android:name=".alarm.BootBroadCastReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>